# Ignorar arquivos de dados pesados do passado
*.csv
*.geojson
*.parquet
/dados/

# Ignorar os "cérebros" treinados pesados
*.joblib
/modelos/

# Ignorar pastas virtuais e caches automáticos do Python
__pycache__/
.pytest_cache/
*.pyc
.env
.venv/
env/